@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth !important;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply text-[#FFFFFF];
    @apply font-fontPrimary;
    @apply bg-backgroundPrimary;
  }
  h1 {
    @apply text-[40px] md:text-[70px] 2xl:text-[94px];
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @keyframes roll-primary {
    0% {
      transform: rotateX(0);
      opacity: 0;
    }
    100% {
      transform: rotateX(180deg);
      opacity: 1;
    }
  }

  @keyframes roll-reverse-primary {
    0% {
      transform: rotateX(180deg);
    }
    100% {
      transform: rotateX(0);
    }
  }

  .animationPrimaryButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #28dbd1;
    border-radius: 4px;
    box-shadow: 0 0 1px 1px #28dbd1;
    z-index: -1;
    animation: roll-reverse-primary 0.4s ease-in;
  }
  .animationPrimaryButton:hover::before {
    animation: roll-primary 0.4s ease-in;
    border-radius: 8px;
    border-width: 3px;
    box-shadow: none;
  }

  @keyframes roll-secondary {
    0% {
      transform: rotateX(0);
      opacity: 0;
    }
    100% {
      transform: rotateX(180deg);
      opacity: 1;
    }
  }

  @keyframes roll-reverse-secondary {
    0% {
      transform: rotateX(180deg);
      background: #ffff;
    }
    100% {
      transform: rotateX(0);
      background: transparent;
    }
  }
  .animationSecondaryButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 8px;
    animation: roll-reverse-secondary 0.6s ease-in;
    background: transparent;
  }
  .animationSecondaryButton:hover::before {
    background-color: #ffff;
    border-radius: 8px;
    border-width: 3px;
    animation: roll-secondary 0.4s ease-in;
  }

  @keyframes dropDown {
    from {
      top: -200px;
    }
    to {
      top: 0;
    }
  }
  .animationDropDown {
    animation: dropDown 1s ease-out both;
  }

  @keyframes climbUp {
    from {
      bottom: -100px;
    }
    to {
      bottom: 0;
    }
  }
  .animationClimbUp {
    animation: climbUp 1s ease-out both;
  }

  @keyframes leftToRight {
    0% {
      left: -100px;
    }
    100% {
      left: 0;
    }
  }
  .animationLeftToRight {
    animation: leftToRight 1s ease-out both;
  }

  @keyframes RightToLeft {
    0% {
      right: -100px;
    }
    100% {
      right: 0;
    }
  }
  .animationRightToLeft {
    animation: RightToLeft 1s ease-out both;
  }
}
/*PARTICLES*/
.particles {
  -moz-user-select: none;
  -webkit-user-select: none;
}

@layer components {
  /*FLEX*/
  .primaryFlex {
    @apply flex justify-center;
  }
  .secondaryFlex {
    @apply flex justify-center items-center;
  }
  /*BUTTON*/
  .button {
    @apply text-[16px] md:text-[20px] font-[600] rounded-[8px] skew-x-[-12deg] z-50;
  }
  .primaryButton {
    @apply button p-[8px_12px] md:p-[8px_25px] border-[2px] border-[#28DBD1];
  }
  .secondaryButton {
    @apply button p-[7px_12px] md:p-[7px_25px] text-[#28DBD1] border-[2px] border-[#28DBD1];
  }
  /*INPUT*/
  .input {
    @apply flex m-[8px_0_20px_0] focus:outline-none focus:border-[#CFCFCF] bg-backgroundTertiary rounded-[8px] border-[1px] border-[#28DBD1];
  }
  .primaryInput {
    @apply input p-[10px];
  }
  .secondaryInput {
    @apply input p-[10px_10px_35px_10px];
  }
  /*SELECT*/
  .select {
    @apply w-full m-[8px_0_20px_0] p-[13px_20px_13px_35px] cursor-pointer focus:outline-none focus:border-[#CFCFCF] bg-backgroundTertiary rounded-[8px] border-[1px] border-[#28DBD1];
  }
  .primarySelect {
    @apply select;
  }
  .secondarySelect {
    @apply select p-[13px_10px_13px_10px];
  }
  /*PAGE CARD*/
  .pageCard {
    @apply flex flex-col items-center p-[44px_60px] rounded-[10px] border-[1px] z-20;
  }
  .primaryHomePageCard {
    @apply pageCard bg-[#030B15] border-[#353535];
  }
  .primaryHomePageCardTitle {
    @apply text-[20px] lg:text-[28px] font-fontSecondary font-[500] pt-[32px];
  }
  .secondaryHomePageCard {
    @apply pageCard max-w-[535px] border-[#60CACB];
  }
  .secondaryHomePageCardTitle {
    @apply pt-[32px] text-[28px] font-fontSecondary font-[500];
  }
  .secondaryHomePageCardDescription {
    @apply pt-[16px] text-[16px] font-fontSecondary font-[400] text-center text-[#7D7D7D];
  }
  /*READY GET STARTED*/
  .readyGetStartedPrimary {
    @apply bg-[#79fdff]/30;
  }
  .readyGetStartedSecondary {
    @apply bg-[#28DBD1]/30;
  }
  /*ROUNDED SHADOW*/
  .primaryRoundedShadow {
    @apply absolute top-[60px] lg:top-0;
  }
  .secondaryRoundedShadow {
    @apply absolute top-[220px] right-0;
  }
  .tertiaryRoundedShadow {
    @apply absolute left-[-120px] bottom-[-120px];
  }
  /*myHtmlContent*/
  .myHtmlContent img {
    @apply w-[80%] mx-auto max-h-[400px] object-cover rounded-lg my-5;
  }
  .myHtmlContent p {
    @apply text-[16px] lg:text-[20px] font-[400] text-textSecondary font-fontSecondary;
  }
  .myHtmlContent h1 {
    @apply text-[32px] lg:text-[48px] font-[500] mt-16;
  }
  .myHtmlContent strong {
    @apply text-[#28dbd1];
  }
  .myHtmlContent li {
    @apply py-2;
  }
}
